html {
  height: 100vh;
}

body {
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: stretch;  */
  /* flex: 1; */
}

.header {
  border-style: solid;
  border-color: black;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.choose-carefully {
  text-align: center;
}

.score-txt {
  text-align: center;
}

.selection-wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 30px;
}

.player-selection {
}

.player-score {
}

.computer-selection {
}

.computer-score {
}

.player-choices {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.rock {
}

.paper {
}

.scissors {
}

.footer {
  border-style: solid;
  border-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
