html {
  height: 100vh;
}

body {
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.header {
  border-style: solid;
  border-color: black;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  border-style: solid;
  border-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.choose-carefully {
  text-align: center;
}

.score-txt {
  text-align: center;
}

.selection-wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 30px;
}

.player-selection {
}

.player-score {
}

.computer-selection {
}

.computer-score {
}

.player-choices {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer {
  border-style: solid;
  border-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable-click {
  pointer-events: none;
}

.opacity {
  filter: blur(3px);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 150px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(0px);
  background-color: rgba(0, 0, 0, 0.452); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
